<h4><%= menu.name %></h4>
          <p class="ps-text-grey">
              <% if (menu.description!='') { %>
                  <h2><%= menu.description %></h2>
              <% }else{ %>
                <h2>Plato Tipico</h2>
              <% } %>
          </p>
<br />